// Primary colors
$color-purple: #7400b8ff;
$color-french-violet: #6930c3ff;

// Secondary colors
$color-slate-blue: #5e60ceff;
$color-tufts-blue: #5390d9ff;
$color-blue-jeans: #4ea8deff;
$color-vivid-sky-blue: #48bfe3ff;
$color-sky-blue-crayola: #56cfe1ff;
$color-medium-turquoise: #64dfdfff;
$color-turquoise: #72efddff;
$color-aquamarine: #80ffdbff;

// Shades (white -> black)
$color-black: #000;
$color-gray: rgb(131, 131, 131);
$color-white: #fff;
