html {
    font-family: "Roboto Slab", serif;
}

// Roboto font avalible weights: 100, 400, 600
$roboto: "Roboto Slab";
// Open sans font avalible weights: light 300, light 300 italic, regular 400, regular 400 italic, semi-bold 600, semi-bold 600 italic, bold 700
$open-sans: "Open Sans";

// Font families
$base-font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-font-family: $open-sans;
$heading-font-family: $roboto;

body {
    font-family: $body-font-family, sans-serif;
    color: $color-black;
    font-size: 19px;
    font-weight: 500;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $heading-font-family, serif;
    color: $color-black;
}

h1,
.h1 {
    font-size: 5.5rem;
    line-height: 6rem;
    font-weight: 400;
}

h2,
.h2 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 100;
}

h3,
.h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 400;
}
h4,
.h4 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
}
h5,
.h5 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
}
h6,
.h6 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

p,
.p {
    font-family: $body-font-family, serif;
    color: $color-black;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    color: $color-black;
}

q,
.q {
    font-family: $body-font-family, serif;
    color: $color-black;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: italic;
    color: $color-black;
}
