.container {
    padding-bottom: 80px;
    background-color: lightgray;
    width: calc(100% - 5%);
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

$columns: 12;

@for $i from 1 through $columns {
    .col-#{$i} {
        flex: 0 0 100% / $columns * $i;
        background-color: $color-white;
        // margin-left: $margin-left;
        // margin-right: $margin-right;
    }

    .col-offset-#{$i} {
        margin-left: 100% / $columns * $i;
    }
}
