.col-1-of-5 {
    width: calc((100%) / 5);
    border: 1px solid $color-gray;
    background-color: $color-white;
}

.col-2-of-5 {
    width: calc(((100%) / 5) * 2);
    border: 1px solid $color-gray;
    background-color: $color-white;
}
.col-3-of-5 {
    width: calc(((100%) / 5) * 3);
    border: 1px solid $color-gray;
    background-color: $color-white;
}
.col-4-of-5 {
    width: calc(((100%) / 5) * 4);
    border: 1px solid $color-gray;
    background-color: $color-white;
}
.col-5-of-5 {
    width: calc(((100%) / 5) * 5);
    border: 1px solid $color-gray;
    background-color: $color-white;
}
