.container {
    padding-bottom: 80px;
    background-color: lightgray;
    width: calc(100% - 5%);
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}

$columns: 12;
$gutter: 15px;

@for $i from 1 through $columns {
    .col-#{$i} {
        flex: 0 0 100% / $columns * $i;
        background-color: $color-white;

        //Create the gutter
        margin-right: -$gutter;
        margin-left: -$gutter;
        padding-right: $gutter;
        padding-left: $gutter;
    }

    .col-offset-#{$i} {
        margin-left: 100% / $columns * $i;
    }
}
