* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  font-size: 62.5%;
  /* 1rem = 10px, 10px/16px = 62,5% */
}

html {
  font-family: "Roboto Slab", serif;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 19px;
  font-weight: 500;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Roboto Slab", serif;
  color: #000;
  padding-bottom: 1rem;
}

h1,
.h1 {
  font-size: 5.5rem;
  line-height: 6rem;
  font-weight: 400;
}

h2,
.h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 100;
}

h3,
.h3 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 400;
}

h4,
.h4 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
}

h5,
.h5 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
}

h6,
.h6 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

p,
.p {
  font-family: "Open Sans", serif;
  color: #000;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  color: #000;
  padding-bottom: 1rem;
}

p.bold,
.p.bold {
  font-weight: 600;
  font-style: semi-bold;
}

p.italic,
.p.italic {
  font-style: italic;
}

q,
.q {
  font-family: "Open Sans", serif;
  color: #000;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: italic;
  color: #000;
  padding-bottom: 1rem;
}

.container {
  padding-bottom: 80px;
  background-color: lightgray;
  width: calc(100% - 5%);
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  background-color: #fff;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  background-color: #fff;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  background-color: #fff;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  background-color: #fff;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  background-color: #fff;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-color: #fff;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  background-color: #fff;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  background-color: #fff;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  background-color: #fff;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  background-color: #fff;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  background-color: #fff;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  background-color: #fff;
}

.col-offset-12 {
  margin-left: 100%;
}

/* ---- Buttons -----------------   */
.button-primary,
.button-secondary {
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  border: none;
  padding: 1rem;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid transparent;
  font-size: var(--button-font-size);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:disabled,
.button.disabled,
.button.disabled:hover {
  background-color: #838383;
  border: 1px solid #838383;
  border-radius: 10px 10px 0px 10px;
  color: #fff;
  cursor: default;
}

/* ---- Primary button -----------------   */
.button-primary {
  background-color: #7400b8ff;
}

.button-primary:hover {
  background-color: transparent;
  border: 1px solid #6930c3ff;
  border-radius: 10px 10px 0px 10px;
  color: #6930c3ff;
}

/* ---- Secondary button -----------------   */
.button-secondary {
  background-color: #5390d9ff;
}

.button-secondary:hover {
  background-color: transparent;
  border: 1px solid #5e60ceff;
  border-radius: 10px 10px 0px 10px;
  color: #5e60ceff;
}

/* ---- Link -----------------   */
.link {
  font-size: inherit;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid #838383;
  text-decoration: none;
}

.link:disabled,
.link.disabled,
.link.disabled:hover {
  color: #838383;
  border-bottom: 1px solid #838383;
  cursor: default;
}

.link:hover {
  color: #5e60ceff;
  border-bottom: 1px solid #5e60ceff;
}

.styleguide-section {
  background-color: #fff;
}

.styleguide-section__title {
  background-color: #64dfdfff;
}
